#ru-container
	#ru-position
		#ru-content
			%span#ru-txt= @russian

#line
	%hr

#next
	%input{:src => '/ei.png', :type => 'image'}

#en-container
	#en-position
		#en-content
			%span#en-txt= @english
