%html
	%head
		%title Asanya | A cute learning app
		%link{:rel => 'stylesheet', :href => '/styles.css', :type => 'text/css', :media => 'all'}
		%script{:src => '/jquery-1.4.3.min.js'}
		%script{:src => '/support.js'}
		%script
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-19789936-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	%body
		= yield

/ kartofilya@gmail.com
