%html
	%head
		%title Asanya | A cute learning app
		%link{:rel => 'stylesheet', :href => '/styles.css', :type => 'text/css', :media => 'all'}
		%script{:src => '/jquery-1.4.3.min.js'}
		%script{:src => '/support.js'}
	%body
		= yield

/ kartofilya@gmail.com
